<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8">
<title>{{ t.ready_title }}</title>
</head>
<body>

<h1>{{ t.ready_title }}</h1>
<p>{{ t.ready_sub }}</p>

<a href="{{ download_url }}">{{ t.download }}</a>

<hr>

<h3>{{ t.support_title }}</h3>
<p>{{ t.support_sub }}</p>

<div class="iframe-asc-container"
     data-type="collect"
     data-collect-id="01KDMS06DAP5ABR1CQM508SWRS"></div>

<script src="https://www.americains-accidentels.fr/public/build/js/iframe.js"></script>

<p>{{ t.privacy }}</p>

</body>
</html>
